{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">

    <video autoplay muted loop playsinline preload="metadata" id="background-video">    
        <source src="{% static 'media/copia2.mp4' %}" type="video/mp4">
        
    </video>
    <div class="row justify-content-center">
        <div class="col-md-6 gothic-form">
            <h1 class="text-center gothic-text text-shadow-gothic">LOGIN</h1>

            <!-- Mensaje de error -->
            {% if error %}
                <div class="alert alert-danger text-shadow text-center" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <!-- Formulario -->
            <form action="/login/" method="POST" class="dark-form">
                {% csrf_token %}
                
                <!-- Campos del formulario -->
                <div class="mb-3">
                    <label class="form-label gothic-text" for="id_username"></label>
                    {{ form.username|as_crispy_field }}
                    {{ form.username.errors }}
                </div>

                <div class="mb-3">
                    <label class="form-label gothic-text" for="id_password"></label>
                    {{ form.password|as_crispy_field }}
                    
                    {{ form.password.errors }}
                </div>

                <!-- Botón de login -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark btn-lg text-shadow-gothic">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</div>

<!-- Estilos personalizados -->
<style>
   
    #background-video {
    position: fixed;
    top: 0;
    left: 0;
    
    
    object-fit: cover;
    z-index: -1; /* Enviar el video al fondo */
}


</style>


<!--
 es para el cuadrado sombreado 
.gothic-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    }
-->



{% endblock %}