{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">

    
    <h2 class="text-center text-shadow-gothic text-white mb-4">Miembros Actuales</h2>
    
    <!-- Barra de búsqueda -->
    <div class="input-group mb-3">
        <span class="input-group-text bg-dark text-white" id="basic-addon1">Buscar por Nickname</span>
        <input type="text" class="form-control bg-dark text-white" id="searchNickname" placeholder="Ingresa el nickname">
    </div>

    <!-- Tabla de miembros actuales -->
    <table class="table table-hover table-dark table-bordered re-style-table">
        <thead class="table-champion">
            <tr class="gothic-text">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Nickname</th>
                <th scope="col">Reclutado Por</th>
                <th scope="col">Fecha de Ingreso</th>
            </tr>
        </thead>
        <tbody id="membersTable">
            {% for member in members_fam %}
            <tr class="text-shadow">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.nickname }}</td>
                <!-- Verifica que recruited sea una relación válida -->
                <td>{% if member.reclutado_por %}{{ member.reclutado_por }}{% else %}N/A{% endif %}</td>
                <td>{{ member.date_joined|date:"d/m/Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-muted gothic-text">No se encontraron miembros actuales.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <link rel="stylesheet" href="{% static 'styles/members_fam.css' %}">
</div>

<!-- Script para filtrar por nickname -->
<script>
    document.getElementById('searchNickname').addEventListener('keyup', function() {
        var input = this.value.toLowerCase();
        var rows = document.querySelectorAll('#membersTable tr');

        rows.forEach(function(row) {
            var nickname = row.cells[2].textContent.toLowerCase(); // Columna 3 (Nickname)
            if (nickname.indexOf(input) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>

<!-- Estilos personalizados inspirados en Resident Evil Village -->



 <style>
    body {
    background-color: #fff;
    background-image: url("{% static 'media/members_fam.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 </style>

</style>
    

{% endblock %}