{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-shadow-gothic text-white">RANKING DE MIEMBROS </h1>
    <p class="text-center text-muted mb-5">Consulta la clasificación de los miembros por sus puntos acumulados en eventos.</p>

    <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered text-center align-middle re-style-table">
            <thead>
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Puntos Acumulados</th>
                </tr>
            </thead>
            <tbody>
                <!-- Miembro en primera posición destacado -->
                <tr class="table-champion">
                    <th scope="row" class="fs-4 gothic-text">1</th>
                    <td class="fs-4 gothic-text"><strong>{{ member1.nickname }}</strong></td>
                    <td class="fs-4 gothic-text"><strong>{{ member1.points }} pts</strong></td>
                </tr>
                <!-- Miembro en segunda posición destacado -->
                <tr class="table-runnerup">
                    <th scope="row" class="fs-4 gothic-text">2</th>
                    <td class="fs-4 gothic-text"><strong>{{ member2.nickname }}</strong></td>
                    <td class="fs-4 gothic-text"><strong>{{ member2.points }} pts</strong></td>
                </tr>
                <!-- Miembro en tercera posición destacado -->
                <tr class="table-runnerup">
                    <th scope="row" class="fs-4 gothic-text">3</th>
                    <td class="fs-4 gothic-text"><strong>{{ member3.nickname }}</strong></td>
                    <td class="fs-4 gothic-text"><strong>{{ member3.points }} pts</strong></td>
                </tr>
                <!-- Miembros del 4to lugar en adelante -->
                {% for member in members %}
                <tr class="text-shadow">
                    <th scope="row">{{ forloop.counter0|add:4 }}</th>
                    <td>{{ member.nickname }}</td>
                    <td>{{ member.points }} pts</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <link rel="stylesheet" href="{% static 'styles/ranking.css' %}">
</div>

<!-- Agregamos algo de estilo adicional inspirado en Resident Evil Village -->
 <style>
    body {
    background-color: #fff;
    background-image: url("{% static 'media/rankingnew.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 </style>

{% endblock %}